body{
    font-family: 'Sora', sans-serif;
}
.open{
    font-family: 'Open Sans', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.max-w-1440{
    max-width: 1444px;
}
.min-h-168{
    min-height: 168px;
}
@media only screen and (max-width: 650px) {
    .min-h-168 {
        min-height: 118px;
    }
  }

.min-w-400{
    min-width: 430px;
}
@media only screen and (max-width: 600px) {
    .min-w-400{
        min-width: 200px;
    }
  }